body {
    background: radial-gradient(39.86% 39.86% at 50% 50%, #068EFF 0%, rgba(0, 199, 255, 0.0001) 100%);
}

/* Хэдер*/
.header {
    background-image: url("img/Bitmap.svg");
    min-height: 100vh;
    height: 877px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-color: #004990;
}
  
.container {
    position: absolute;
    margin: 20px;
    width: auto;
    
}

/* Навигация*/  
.navbar {
    background: #FFFFFF;
    box-shadow: 0px 6px 10px rgba(0, 73, 144, 0.25);
    display: flex;
    flex-direction: row;
    margin-left: 171px;
    margin-right: 116px;
    margin-top: 73px;
}

.logo {
    width: 123px;
    height: 17px;
    margin-left: 17px;
    margin-bottom: 16px;
    margin-top: 15.83px;
}

.navbar_button {
    margin-top: 16px;
    margin-left: 129px;
}

.navbar_button a {
    font-family: 'Solomon-Sans-Normal';
    text-decoration: none;
    color: #004990;
}
.navbar_button ul {
    display: inline;
}

.navbar_button li {
    padding: 0px 25px;
    display: inline;
}

.navbar_button a:hover {
    border-bottom: 4px solid #004990 ;
    padding: 0px 0px 21px;
}

.navbar_element {
    display: flex;
    flex-direction: row;
    margin-left: 56px;
}

.search {
    padding: 16px 25px 20px;
}

.stick {
    padding: 11px 25px 12px;
}

.profile {
    padding: 10px 25px 5px;
}

/* Кнопка "Каталог товаров" */ 
.left_button_info {
    writing-mode: vertical-rl;
    transform: rotate(-180deg);
    background: #004990;
    position: absolute;
    margin-top: 210px;
    text-align: center;
    margin-left: -20px;
}

.left_button_info {
    width: 39.5px;
    height: 200px;
}

.left_button_info:hover {
    background: #48A7C8;
}

.left_button_info a {
    text-decoration: none;
    color: #FFFFFF;

}

/* Информация */ 
.header_main_info {
    margin-top: 221px;
    margin-left: 171px;
    margin-right: 754px;
}

.header_main_info img {
    position: absolute
}

.text_info {
    width: 390px;
    height: 179px;
}


.caption p {
    position: relative;
    color: #FFFFFF;
    text-transform: uppercase;
    word-break:break-all;
    margin-left: 89px;
    white-space: nowrap;
    margin-bottom: 21px;
    font-weight: bold;
    font-size: 30px;
    line-height: 40px;

}

.comment p {
    line-height: 26px;
    color: #FFFFFF;
    margin-right: 55px;
    text-align: left;
}

.info_button a {
    margin-top: 86px;
    position: absolute;
    text-decoration:none; 
    text-align:center; 
    border: 4px solid #FFFFFF;
    padding:17px 70px; 
    font-weight: 800;
    line-height: 27px;
    letter-spacing: 0px;
    text-align: left;
    color: #FFFFFF;
}


.slider_button_prev {
    position: absolute;
    background: #004990;
    width: 69px;
    height: 65px;
    margin-left: 866px;
    margin-top: 86px;

}

.slider_button_prev img {
    margin-left: 29px;
    margin-top: 23px;
    transform: rotate(180deg)
}

.slider_button_prev:hover {
    background: #48A7C8;
}

.slider_button_next{
    position: absolute;
    background: #004990;
    width: 69px;
    height: 65px;
    margin-left: 934px;
    margin-top: 86px;

}

.slider_button_next img {
    margin-left: 29px;
    margin-top: 23px;
}


.slider_button_next:hover {
    background: #48A7C8;
}

/* Лидеры */ 

.discussion {
    position: absolute;
    margin-top: -65px;
}

.leader {
    position: absolute;
    width: 673px;
    height: 348px;
    background: #48A7C8;
    margin-left: 230px;
    
}

.leader img {
    border-radius: 110px;
    margin-left: 58px;
    margin-top: 58px;
    margin-bottom: 71px;
}

.leader_caption p {
    margin-left:327px;
    margin-top: -311px;
    font-size: 40px;
    line-height: 44px;
    text-align: left;
    color: #FFFFFF;
}

.leader_name p {
    margin-top: 23px;
    margin-left:327px;
    font-family: Solomon-Sans-SemiBold;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0px;
    text-align: left;
    color: #FFFFFF;

}

.leader_info {
    margin-top: 34px;
    margin-left:327px;
    font-family: Solomon-Sans-Normal;
    font-size: 10px;
    line-height: 14px;
    letter-spacing: 0px;
    text-align: left;
    color: #FFFFFF;
    opacity: 60%;

}

.leader_next {
    width: 100px;
    height: 100px;
    background: #FFFFFF;
    margin-left: 573px;
    margin-top: -62px;
}

.leader_next img {
    margin-left: 35px;
    margin-top: 36px;
}

.themes {
    position: absolute;
    width: 340px;
    height: 348px;
    background: #004990;
    margin-left: 903px;
    margin-right: 132px;
}

.themes_for_discussion {
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0px;
    text-align: left;
    color: #FFFFFF;
    margin-left: 69px;
    margin-top: 55px;
    margin-right: 114px;
}

.themes_list {
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0px;
    text-align: left;
    color: #FFFFFF;
    margin-left: 69px;
    margin-right: 65px;
    padding-bottom: 19px;
    display:contents;
    height: 57px;
}

.themes_list p {
    padding: 0px 65px 19px 69px;
}

.other_question {
    font-size: 9px;
    line-height: 16px;
    letter-spacing: 0px;
    text-align: left;
    color: #FFFFFF;
    opacity: 50%;
    padding: 0px 206px 23px 69px;
}

.other_question p {
    border-bottom: 1px solid #FFFFFF;
}

.new_question_num {
    margin-top: -68px;
    margin-left: 251px;
    width: 116px;
    height: 53px;
    background: #48A7C8;
    font-size: 16px;
    line-height: 32px;
    letter-spacing: 0px;
    text-align: center;
    color: #FFFFFF;

}

.new_question_num p {
    margin-left: 20px;
    margin-top: 11px;
    margin-bottom: 1px;
    margin-right: 76px;
}

.new_question_text p{
    font-size: 9px;
    line-height: 10px;
    letter-spacing: 0px;
    text-align: left;
    margin-left: 309px;
    margin-top: -45px;
    margin-bottom: 1px;
    margin-right: 82px;
    color: #FFFFFF;
}

/* Материалы */ 
.top_material {
    position: absolute;
    width: 1003px;
    height: 364px;
    margin-left: 230px;
    margin-top: 340px;
}


.material_caption p {
    display: inline-block;
    font-size: 40px;
    line-height: 44px;
    letter-spacing: 0px;
    text-align: left;
    background: #004990;
    color: #FFFFFF;
    padding: 20px;
}

.material_list {
    margin-left: 20px;
    margin-right: 745px;
    display: inline-block;
    
}

.material_list p {
    padding: 18px 10px 0px 0px;
    margin-top: -10px;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0px;
    text-align: left;
}

.material_content {
    margin-left: 300px;
    margin-top: -327px;
}

.material_back img {
    background: #004990;
}


.material_content_caption p {
    margin-top: -330px;
    margin-left: 70px;
    font-size: 28px;
    line-height: 32px;
    letter-spacing: 0px;
    text-align: left;
    color: #FFFFFF
}

.material_content_text {
    margin-left: 70px;
    margin-top: 133px;
    margin-right: 328px;

}

.material_content_text p {
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0px;
    text-align: left;
    color: #FFFFFF;
}

.material_next {
    background: #004990;
    width: 198px;
    height: 212px;
    margin-left: 533px;
    margin-top: -334px;
}

.material_next p {
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0px;
    text-align: left;
    margin-right: 72px;
    color: #FFFFFF;
    margin-left: 37px;
    padding-top: 60px;
}

.material_next img {
    margin-top: 42px;
    margin-left: 40px;
}

.material_question {
    background: #48A7C8;
    width: 132px;
    height: 53px;
    margin-left: 533px;
}

.material_num p {
    font-size: 16px;
    line-height: 32px;
    letter-spacing: 0px;
    text-align: center;
    margin-left: 412px;
    margin-top: -42px;
    color: #FFFFFF;
}

.material_text p {
    font-size: 9px;
    line-height: 10px;
    letter-spacing: 0px;
    text-align: left;
    margin-left: 582px;
    margin-top: -41px;
    margin-right: 100px;
    color: #FFFFFF;
}

.footer {
    width: 1196px;
    height: 469px;
    background: #004990;
    margin-top: 953px;
}

.email {
    position: absolute;
    background: #48A7C8;
    width: 248px;
    height: 265px;
    margin-top: -116px;
    margin-left: 193px;

}

.email_logo {
    overflow: hidden;
}

.email_logo img {
    opacity: 30%;
}

.email_go {
    margin-left: 171px;
    margin-top: -111px;
}

.email_text {
    margin-left: 46px;
}

.email_text p {
    position: absolute;
    font-size: 28px;
    line-height: 32px;
    letter-spacing: 0px;
    text-align: left;
    color: #FFFFFF;
}

.email_num {
    position: absolute;
    width: 50px;
    height: 50px;
    background: #004990;
    margin-left: 220px;
    margin-top: -232px;
}

.email_num {
    font-size: 16px;
    line-height: 32px;
    letter-spacing: 0px;
    text-align: center;
    color: #FFFFFF;
}

.email_num p {
    margin-top: 11px;
}

.footer_question {
    position: absolute;
    width: 385px;
    height: 265px;
    background: #FFFFFF;
    margin-left: 556px;
    margin-top: -116px;
}

.footer_question_logo {
    margin-top: 40px;
    overflow: hidden;

}

.footer_question_text p {
    position: absolute;
    font-size: 28px;
    line-height: 32px;
    letter-spacing: 0px;
    text-align: left;
    color: #004990;
    margin-right: 30px;
    margin-left: 47px;
    margin-top: 33px;
}

.footer_question_go {
    margin-top: -111px;
    margin-left: 317px;
}

.footer_info1 {
    position: absolute;
    margin-top: 299px;
    margin-left: 193px;
}

.footer_info1 p {
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: left;
    color: #FFFFFF;
}

.footer_info2 {
    position: absolute;
    margin-top: 320px;
    margin-left: 193px;
}

.footer_info2 p {
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 0px;
    text-align: center;
    color: #48A7C8;

}

.footer_info3 {
    position: absolute;
    margin-top: 299px;
    margin-left: 763px;

}

.footer_info3 p {
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: left;
    color: #FFFFFF;

}

.footer_info3 a {
    text-decoration: none;
    color: #48A7C8;
}

.footer_clinic_logo {
    position: absolute;
    margin-top: 10px;
    margin-left: 10px;
    
}

.footer_clinic_logo img {
    width: 178px;
    height: 25px;
    margin-top: 379px;
    margin-left: 193px;
    background: #003364;
}
